

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #7695FF;
}

.toggle{
    display: none;
}
@media screen and (max-width: 30em) {
    .toggle{
        display: block;
    }
    .navlinks {
        position: fixed;
        top: 0;
       left: -1000px;
        background-color: #183db6;
        width: 18rem;
        padding: 2rem;
        height: 100%;
        display: flex;
        z-index: 1000;
        transition: all .2s ease-in-out;
        flex-direction: column;
    }

    .navlinks.active {
        left: 0;
    }
}
